In [2]:
# sets
a=[1,2,3,4,5,6,7,8,9,1,2,3]
a=set(a)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
a.add(10)

In [4]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
a.clear()
a

set()

In [10]:
a={1, 2, 3, 4, 5, 6, 7, 8, 9,1,2,3}
b={20,30,40,10,1,2,3}
a.difference(b)
b.difference(a)

{10, 20, 30, 40}

In [12]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
a.difference_update(b)

In [14]:
a

{4, 5, 6, 7, 8, 9}

In [15]:
a.discard(5)

In [16]:
a

{4, 6, 7, 8, 9}

In [19]:
a={1, 2, 3, 4, 5, 6, 7, 8, 9,1,2,3}
b={20,30,40,10,1,2,3}

a.intersection(b)

{1, 2, 3}

In [20]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40}

In [23]:
s={'s','a','i'}
s

{'a', 'i', 's'}

In [25]:
l={1,2,3,4}
m={1,2,20,30}
l.intersection_update(m)
l

{1, 2}

In [26]:
for i in l:
    print(i)

1
2

In [28]:
s='sai Sankar'
s=set(s)
s

{' ', 'S', 'a', 'i', 'k', 'n', 'r', 's'}

In [29]:
l={1,2,3,4}
m={1,2,20,30}
l.isdisjoint(m)

False

In [30]:
l.issubset(m)

False

In [31]:
l.pop()

1

In [34]:
l.remove(3)
l

{4}

In [36]:
l={1,2,3,4,5,6}
m={5,6,7,8,9,10}
print(l.symmetric_difference(m))
print(l)
print(m)

{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9, 10}

In [40]:
l.symmetric_difference_update(m)
l

{1, 2, 3, 4, 7, 8, 9, 10}

In [42]:
l.update(m) # You can Pass a set() values to another set using this function
l

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
l=[1,2,3,4,5,6]
m={5,6,7,8,9,10}
m.intersection(l)

{5, 6}

In [44]:
a=int(input())
m=list(map(int,input().split()))
b=int(input())
n=list(map(int,input().split()))
x=set(m)
y=set(n)
print(len(x.symmetric_difference(y)))

9
1 2 3 4 5 6 7 8 9
9
2 3 45 23 12 4 5 6 56
8

In [56]:
a=int(input())
b=str(a)
print(b)
type(b)

9
9

str

In [ ]:
import re
s="This is My Name"