In [2]:
print('Hello World')

Hello World

In [5]:
a = 12
b = 23
c = a+b
print('Hello',c,"\n This Comes after c Value")

Hello 35
 This Comes after c Value

In [7]:
# print "Hello This is New " Program

print('"Hello This is New " Program')

"Hello This is New " Program

In [9]:
# Strings

s= "Hello SaiSankar how do you feel now"

s[3:4]

'l'

In [14]:
# print all the even indexed characters in the string

s[0:5:2]

s

'Hello SaiSankar how do you feel now'

In [17]:
s[0::2]

'HloSiakrhwd o elnw'

In [19]:
s[::-1]

'won leef uoy od woh raknaSiaS olleH'

In [20]:
s[-6:-1]

'el no'

In [22]:
s[-1:-6:-1]

'won l'

In [23]:
a = 10
b = 20
a+b

30

In [24]:
a-b

-10

In [25]:
a*b

200

In [26]:
a^b

30

In [28]:
a/b

0.5

In [29]:
a%b

10

In [30]:
floor(a/b)

NameError: name 'floor' is not defined

In [31]:
a//b

0

In [34]:
import math
print(math.ceil(a/b))
print(math.floor(a/b))

1
0

In [35]:
# Branching / Condition Control Structure

x = 9

if x>0:
    print("Positive")
else:
    print("Negative")

Positive

In [36]:
if x>0:
    print("Positive")
elif x<0:
    print("Negative")
else:
    print("Zero")

Positive

In [4]:
# Loop Control Structures

i =1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [10]:
s ="python"
l = len(s)
l

6

In [3]:
i = 10
while 1<=i:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [8]:
i = 0

while i<l:
    print(s[i])
    i+=1

P
y
t
h
o
n

In [5]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(0,len(s)):
    print(s[i])

P
y
t
h
o
n

In [7]:
for i in s:
    print(i)

P
y
t
h
o
n

In [11]:
sorted(s)

['h', 'n', 'o', 'p', 't', 'y']

In [12]:
a ="cab"
sorted(a,reverse = True)

['c', 'b', 'a']

In [13]:
a

'cab'

In [22]:
a= a[:3]+'Enter'
a

'cabEnter'

In [24]:
a*2

'cabEntercabEnter'

In [25]:
2*3

6

In [26]:
2**3

8

In [30]:
print ("My name is %s and weight is %i kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

In [33]:
print ("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

In [40]:
s="sai sankar"
s=s.capitalize()
s=s.upper()
s=s.lower()
s=s.isalpha()
s

False

In [41]:
# List - a group of collected values which may be of various kinds
# list is represented as []

In [42]:
l = [1,2,3,4,5,6]
l = sorted(l,reverse = True)
l

[6, 5, 4, 3, 2, 1]

In [43]:
n = float(input())
n

12.34

12.34

In [50]:
# Read the Number of partcipants
n= int(input())
scores=[]
for i in range(n):
    s= int(input())
    scores.append(s)
scores = sorted(scores,reverse = True)
#scores[1]
max_score= max(scores)
runner_up_scores = scores[1]
try:
    for i in range(1,n):
        if max_score == scores[i]:
            runner_up_scores = scores[i+1]
    print("runner-up-Score is : ",runner_up_scores)
except:
    print("There is no Runnerup Score")

5
1
2
3
4
5
runner-up-Score is :  4

In [51]:
i = dir(list)
for l in i:
    print(l,end=' ')

__add__ __class__ __contains__ __delattr__ __delitem__ __dir__ __doc__ __eq__ __format__ __ge__ __getattribute__ __getitem__ __gt__ __hash__ __iadd__ __imul__ __init__ __init_subclass__ __iter__ __le__ __len__ __lt__ __mul__ __ne__ __new__ __reduce__ __reduce_ex__ __repr__ __reversed__ __rmul__ __setattr__ __setitem__ __sizeof__ __str__ __subclasshook__ append clear copy count extend index insert pop remove reverse sort

In [77]:
l = [1,2,3,1]
# l[2] # Accessing Individual Elements in the list
# l.clear() # Which Clears the list
# l2=['Hanuman','Kumar',"Rajesh"]
# l2.extend(l)
# l2
# l.count(1)
# l.index(2)
l.insert(8,6)
l.index(6)
l
len(l)
l.pop()
l
l.remove(1)
l

[2, 3, 1]

In [83]:
# Remove an element based on the index
l=['sai','Sankar','venkata']
val=int(input("What index value you want to delete"))
for i in range(len(l)):
    if val == i:
        l.remove(l[i])
print(l)

What index value you want to delete0
['Sankar', 'venkata']

In [87]:
sample={"Name":"SaiSankar","age":25,"Graduation":"M.tech"}
print(sample["Name"])
sample.get("age")

SaiSankar

25

In [88]:
sample['age'] = 26

In [89]:
sample

{'Name': 'SaiSankar', 'age': 26, 'Graduation': 'M.tech'}

In [93]:
for i in sample:
    print(i)

Name
age
Graduation

In [91]:
for i in sample.values():
    print(i)

SaiSankar
26
M.tech

In [94]:
l=sample.values()
l

dict_values(['SaiSankar', 26, 'M.tech'])

In [96]:
for i in sample.items():
    print(i)

('Name', 'SaiSankar')
('age', 26)
('Graduation', 'M.tech')

In [97]:
sample['phone']=8333013083
sample

{'Name': 'SaiSankar', 'age': 26, 'Graduation': 'M.tech', 'phone': 8333013083}

In [98]:
sample.pop('age')
sample

{'Name': 'SaiSankar', 'Graduation': 'M.tech', 'phone': 8333013083}

In [101]:
sample.popitem()
sample

{'Name': 'SaiSankar', 'Graduation': 'M.tech'}

In [103]:
del sample['Graduation']
sample

{'Name': 'SaiSankar'}

In [104]:
sample.clear()
sample

{}

In [110]:
sample=dict(Name='SaiSankar',Graduation='M.tech', phone=8333013083)

sample

{'Name': 'SaiSankar', 'Graduation': 'M.tech', 'phone': 8333013083}

In [13]:
# Read all the individual scores of 10 sportspersons and display the winner name use Dictionaries for this problem

sports={}
# Read Scores and SportPersons names
for i in range(3):
    name=input("Enter The Sports Person Name :")
    score=int(input("Enter The Score made by "+name+":"))
    sports[name]=score
max_score = sorted(sports.keys(),reverse = True)
#sports.items()
for i in sports.items():
    if i[0] == max_score:
        print(i[0])

sports
max_score

Enter The Sports Person Name :sai
Enter The Score made by sai:2
Enter The Sports Person Name :sankar
Enter The Score made by sankar:1
Enter The Sports Person Name :rajesh
Enter The Score made by rajesh:10
1 ['sankar', 'sai', 'rajesh']
2 ['sankar', 'sai', 'rajesh']
3 ['sankar', 'sai', 'rajesh']
4 ['sankar', 'sai', 'rajesh']

['sankar', 'sai', 'rajesh']

In [3]:
for i in sports.values():
    print(i)

23
34
12
7
56

In [5]:
s = sorted(sports.values(),reverse = True)
print(s)

[56, 34, 23, 12, 7]

In [6]:
max_score

[7, 12, 23, 34, 56]

In [8]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
sports={}
s=0
for i in range(5):
    name=input("Enter The Sports Person Name :")
    score=int(input("Enter The Score made by "+name+":"))
    sports[name]=score
max_score = sorted(sports.values(),reverse = True)
print(max_score)
"""for j in max_score:
    s=s+1
    print(j,'--',s)"""

for k in sorted(sports.values(), reverse=True):
    for j in sports.keys():
        if(sports.get(j)==k):
            s=s+1
            print(s," -- ",k," -- ",j)

Enter The Sports Person Name :sai
Enter The Score made by sai:74
Enter The Sports Person Name :sankar
Enter The Score made by sankar:75
Enter The Sports Person Name :rajesh
Enter The Score made by rajesh:95
Enter The Sports Person Name :dhoni
Enter The Score made by dhoni:100
Enter The Sports Person Name :rahul
Enter The Score made by rahul:55
[100, 95, 75, 74, 55]
1  --  100  --  dhoni
2  --  95  --  rajesh
3  --  75  --  sankar
4  --  74  --  sai
5  --  55  --  rahul

In [34]:
sports.keys()

dict_keys(['sai', 'sankar', 'rajesh', 'dhoni', 'rahul'])

In [42]:
lb=int(input())
ub=int(input())
l=[]
sum = 0
def commanfactors(lb,ub):
    if lb != 0 and ub != 0:
        for i in range(1,ub):
            if lb % i ==0 and ub % i ==0:
                l.append(i)
                #sum = sum+1
    print(l,len(l))  
commanfactors(lb,ub)

10
15
[1, 5] 2

In [7]:
# Defining Function
def functionname(arg1,arg2):
    return arg1+arg2
functionname(10,30)

40

In [31]:
s = '1,2,3,4,5'
s=s.split(',')
l=[]
for i in s:
    l.append(i)    
print(l)

['1', '2', '3', '4', '5']

In [25]:
a ="www.Google.Com"
print(a.swapcase())

WWW.gOOGLE.cOM

In [32]:
l[0]

'1'